Android/.idea/compiler.xml
Android/.idea/copyright/profiles_settings.xml
Android/.idea/gradle.xml
Android/.idea/inspectionProfiles/profiles_settings.xml
Android/.idea/inspectionProfiles/Project_Default.xml
Android/.idea/misc.xml
Android/.idea/modules.xml
Android/.idea/runConfigurations.xml
